# A gitignore file specifies intentionally untracked files that Git should ignore
# https://git-scm.com/docs/gitignore

/node_modules
/public/hot
/public/storage
/public/logos
/storage/*.key
/storage/debugbar
/vendor
/.idea
npm-debug.log
yarn-error.log
.env
.env.dusk.local
.env.backup
.phpunit.result.cache

composer.lock
package-lock.json

.DS_Store
Thumbs.db

.vscode/

